<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Exercise 2
# Title of the notebook
# H 1: Data Science Tools and Ecosystem

Exercise 2
# Title of the notebook
# H1: Data Science Tools and Ecosystem

Exercise 3
# Introduction of the notebook
# In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 3
# Introduction of the notebook
# In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 10
#  list Objectives
# List popular languages for Data Science
**Objectives**
-- Python
-- R
-- SQL
-- R Studio

# Exercise 10
#  list Objectives
# List popular languages for Data Science
**Objectives**
-- Python
-- R
-- SQL
-- R Studio

Exercise 4
# List of languages in Data Science
# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Exercise 4
# List of languages in Data Science
# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Exercise 5
# List of libraries in Data Science
# Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-learn

Exercise 5
# List of libraries in Data Science
# Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-learn

Exercise 6
# Table of Data Science tools
|Data Science Tools|
|------------------|
| My SQL |
| Jupyter Notebook |
| R Studio |

Exercise 6
# Table of Data Science tools
|Data Science Tools|
|------------------|
| My SQL |
| Jupyter Notebook |
| R Studio |

# Exercise 7
# Arithmetic Expression examples
# H3: Below are a few examples of evaluating arithmetic expressions in Python.
a = 5
b = 1
print(a + b)
# 6
print(a - b)
# 4

# Exercise 7
# Arithmetic Expression examples
# H3: Below are a few examples of evaluating arithmetic expressions in Python.
a = 5
b = 1
print(a + b)
# 6
print(a - b)
# 4

In [2]:
# Exercise 8
# Multiplication and addition of two numbers
# This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5

In [3]:
# Exercise 9
# convert minutes to hours
# This will convert 200 minutes to hours by diving by 60

Hours = 200/60
print(Hours)

3.3333333333333335

# Exercise 11
# Name of the author
# H2: Author
 Kundena Jaya Krishna

# Exercise 11
# Name of the author
# H2: Author
 Kundena Jaya Krishna